*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*******header-start **********/
header{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #162a35;
    height: 60px;
    
}
li{
    list-style-type: none;
}
nav ul li{
    list-style-type: none;
    align-items: flex-end;
    margin: 5px;
    margin-right: 25px;
    
}
a.info{
    color:black;
    text-decoration:none;
    list-style-type: none;

}
a.nav{
    color: white;
    text-decoration: none;
    
    
}
input#search{
    color: white;
    width: 250px;
    background-image: url(images/Start-Menu-Search-icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 1px 2.5px;
    background-size: 14px 14px;
    border: 1px solid #d9ddde;
    border-radius:20px;
    padding-left: 17px;
    height: 25px;
    margin-top: 17.5px;
    
    vertical-align: middle;
    
    
    
}


nav ul {
    display: flex;
    margin-top: 15px;
    
}
input{
    margin-top: 25px;
}
a.nav:hover{
    color: bisque;
}
input#search:hover{
    border-color: bisque;
}
input#search:active{
    color: white;
    border-color: bisque;
}
h1#logo{
    padding: 0px;
}
/*******header-end **********/

/********main-start *********/
main#mainbody{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    background-color: #F0FFFF;
    padding-bottom: 50px;
}
section{
    width: 700px;
}
.text-bold{
    color: 	#303030;
    font-size: 1.5em;
}
.fs-small{
    color:  black;
    font-size: 0.9em;
}
div.tarih{
    display: flex;
    justify-content: space-between;
}
p.left-border{
    border-left: 3px solid #A9A9A9;
    padding: 10px;
    border-right-width: 5px;
    color: #3a3e45;
}

h1, h2, h3, h4, h5, h6{
    margin: 5px;
}
img.kapak{
    border-radius: 20px;
    margin-left: 75px;
}
img.aside{
    background-color: transparent;
    opacity: 0.6;
    
}
img.aside:hover{
    opacity: 1;
}
aside{
    
}
/********main-end *********/

/***********Footer-start  *************/

footer{
    display: flex;
    justify-content: space-evenly;
    background-color:#F0FFFF;
    padding:25px ;
    border-top:1px solid #d1d1d1;
    border-bottom:1px solid #d1d1d1;
    

    

}
img.icon{
    width: 30px;
}
div.son{
    display: flex;
    text-align: center;
    border-right:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
    padding:15px

}
h3.footer{
    margin-top: 10px;
    font-size: 1em;
    color: rgb(28, 27, 27);
}

/***********Footer-end  *************/


/* ****************ÜRÜNLER******************* */
main#ürünler{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #F0FFFF;

}
section.ürünler{
    text-align: center;
    padding: 50px 40px; 
    border-right: 1px solid #d1d1d1;
    
    
}

p.text-1{
    font-size: 1em;
    opacity: 0.8;
}
img.vitrin{
    margin-bottom: 30px;
    opacity: 0.8;
}
section p img{
    width: 15px;
}
img.vitrin:hover{
    opacity: 1;
}


/* ******************* HAKKIMIZDA********************* */

main#about-us{
    display: flex;
    justify-content:center ;
    align-items: stretch;
    background-color: #F0FFFF;
    height: 800px;
    text-align: center;
}
article.aboutpart   {
    border: 1px solid wheat;
    background-color: wheat;
    border-radius: 20px;
    margin: 20px;
    margin-top:100px
}
div.info{
    display: grid;
    border: 1px solid white;
    background-color: wheat;
    border-radius: 20px;
    margin-top: 100px;
    height: 200px;
    width: 500px;

   

}
div.sikayet{
    border: 1px solid white;
    background-color: wheat;
    border-radius: 20px;
    margin-top:10px;
    width: 500px;
    

}
section.aboutus{
    
}
a.info{
    border: 1px solid #162a35;
    background-color: #162a35;
    border-radius:10px;
    margin:20px;
    color: white;

    
}
a.info:hover{
    color: wheat;
    
}
input.sikayetkutusu{
    margin-bottom:30px;

}


